.idea
/config/config.inc.php
/vendor
/db/schemas/local.schema.json
/db/local.version

#dev_mode
/db/datas/*
!/db/datas/.gitkeep
/db/migrations/*
!/db/migrations/.gitkeep
/db/schemas/*
!/db/schemas/.gitkeep
/db/*.version.json